{% extends "base.html" %}
{% block title %}New Lead{% endblock %}

{% block content %}
<!---7/31--->
<!-- Flashed message -->
{% for message in get_flashed_messages() %}
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<a class="btn btn-secondary btn-lg" href="{{ url_for('leads')}}" role="button">Back</a>
<h2 class="text-center"><strong>New Lead</strong></h2>
<br>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">


<form method="POST">
    {{ form.hidden_tag() }}


        {{ form.FirstName.label(class="form-label" )}}
        <p>{{ form.FirstName(class="form-control") }}</p>

        {{ form.LastName.label(class="form-label" )}}
        <p>{{ form.LastName(class="form-control") }}</p>

        {{ form.Title.label(class="form-label" )}}
        <p>{{ form.Title(class="form-control") }}</p>

        {{ form.submit(class="btn btn-primary") }}


</div>




{% endblock %}